<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">

    </button>
    <span>Angular Test</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="iconNav" [routerLink]="['/login']" routerLinkActive="router-link-active"  aria-label="Example icon-button with heart icon">
      <mat-icon>account_circle</mat-icon> 
    </button>
    <button mat-icon-button [routerLink]="['/signup']" routerLinkActive="router-link-active" class="example-icon" >
      <mat-icon>work</mat-icon>
    </button>
  </mat-toolbar>