<!-- 


<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">

    </button>
    <span>Angular Test</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

 <hr>
 <form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Sign In</mat-label>
    <input matInput placeholder="Ex. test@gmail.com" type="email">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>password</mat-label>
    <input matInput placeholder="*****" type="password">
  </mat-form-field>
  <button mat-raised-button>s'identifier</button>
</form> -->

<app-login></app-login>


