


<p>
    <app-header></app-header>
    
  
   <hr>
   <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Ex.user1" type="text">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Adress</mat-label>
      <input matInput placeholder="adress" type="text">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Tel</mat-label>
        <input matInput placeholder="07*****" type="number">
      </mat-form-field>

    <button mat-raised-button>Enregistrer</button>
  </form>
  
